<!-- inside app/views/home/index.html.erb -->

<%= render partial: "shared/navbar" %>
<div class="readme mb-5">
  <h4>Read me</h4>
  <p>
    This is a demo website developed by Mike Zhou (youz@ualberta.ca) in response to the first question
    of the coding chanllenge of Req#92534 ISL 27R – Full Stack Developer. Please read this article before
    evaluate the website.
  </p>
  <h5>How to use this website</h5>
  <p>The website address the Five user stories of the question:</p>
  <ol>
    <li><strong>As a user, I want to navigate a web-based application, so that I can find events of interest.</strong></li>
    <p>In table 1, you can navigate all events. The events are dynamically pulled from the remote database as you browse them. The table only shows a few attributes due to space, you can see the details of an event by clicking on the round button on the left end of every row.</p>

    <li><strong>As a user, I want to save the data retrieved from the REST APIs to a database for the further process.</strong></li>
    <p>In table 1, click on the Save button on the right end of every data row to save the data. You need to sign in to test this feature.</p>

    <li><strong>As a user, I want to filter out events by Area, Severity, Event Type and Start Date.</strong></li>
    <p>In table 1 above the actual table, there are Four filters for the related fields. Select a value to automatically refresh table 1.</p>

    <li><strong>As a user, I want to provide two REST API endpoints to give data access to other applications. The REST API endpoints include creating new events and getting highest severity events by Areas.</strong></li>
    <p>I don't quite understand the first API. The API doc does not show how to create an event on the remote database, and I highly doubt that is safe for a random person to do so. So I assume you want me to save the event to the local bookmarked events table. (I misundertood at first so you will see there are two sets of controllers in the code. Please refer to the <i>local_events</i> controllers)</p>

    <ul>
      <li>To create a new local event and save it to the local table use this API:</li>
      <code>
        curl -X POST 'http://0.0.0.0:3000/local_events' -H "email: youz3@ualberta.ca" -H "password: 123" -H "Content-Type: application/json" -d '{"event": {"jurisdiction_url":"https://api.open511.gov.bc.ca/jurisdiction","url":"https://api.open511.gov.bc.ca/events/drivebc.ca/DBC-28953","id":"drivebc.ca/DBC-28953","headline":"CONSTRUCTION","status":"ACTIVE","created":"2021-05-07T17:31:08-07:00","updated":"2022-12-01T20:14:39-08:00","description":"Highway 1, in both directions. Construction work between Columbia West FSR and Wiseman Rd for 8.1 km (18 to 10 km east of East Boundary of Glacier National Park). Until Thu Nov 23, 2023. Watch for traffic control. Expect minor delays. Construction traffic zone. Obey all traffic signs. Last updated Thu Dec 1 at 8:14 PM MST. (DBC-28953)","+ivr_message":"Highway 1, in both directions. Construction work between Columbia West FSR and Wiseman Rd for 8.1 km (18 to 10 km east of East Boundary of Glacier National Park). Until Thursday, November 23. Watch for traffic control. Expect minor delays. Construction traffic zone. Obey all traffic signs. Last updated Thursday, December 1 at 8:14 PM.","+linear_reference_km":941.22,"schedule":{"intervals":["2021-05-08T00:31/2023-11-24T07:59"]},"event_type":"CONSTRUCTION","event_subtypes":["ROAD_MAINTENANCE"],"severity":"MINOR","geography":{"type":"LineString","coordinates":[[-117.401688,51.495589],[-117.400044,51.494627],[-117.398994,51.494012],[-117.398965,51.493996],[-117.397434,51.493152],[-117.396474,51.492685],[-117.395246,51.492147],[-117.394782,51.49196],[-117.39394,51.491621],[-117.389217,51.489718],[-117.387099,51.488864],[-117.384263,51.487721],[-117.367755,51.481064],[-117.364974,51.479942],[-117.363456,51.479331],[-117.363271,51.479257],[-117.362033,51.478759],[-117.361787,51.478676],[-117.361343,51.478526],[-117.360625,51.478385],[-117.360008,51.47832],[-117.359402,51.478314],[-117.358994,51.478351],[-117.358862,51.478363],[-117.35825,51.478469],[-117.357721,51.478627],[-117.357277,51.478814],[-117.357039,51.478915],[-117.356972,51.478943],[-117.356945,51.478954],[-117.356877,51.478983],[-117.356378,51.479195],[-117.355538,51.479551],[-117.355027,51.479737],[-117.354603,51.479892],[-117.35359,51.480185],[-117.351608,51.480673],[-117.350158,51.481031],[-117.35006,51.481055],[-117.350044,51.481059],[-117.346246,51.481983],[-117.339476,51.483631],[-117.338988,51.48375],[-117.335835,51.484517],[-117.335504,51.484598],[-117.335082,51.484698],[-117.334455,51.484847],[-117.331003,51.48572],[-117.329858,51.48601],[-117.329102,51.486201],[-117.328802,51.486277],[-117.328424,51.48637],[-117.323425,51.487591],[-117.319124,51.488642],[-117.317358,51.489074],[-117.316437,51.4893],[-117.310362,51.490789],[-117.309007,51.49112],[-117.308706,51.491194],[-117.305068,51.492085],[-117.303864,51.49238],[-117.303248,51.492532],[-117.299196,51.493526]]},"roads":[{"name":"Highway 1","from":"Columbia West FSR","to":"Wiseman Rd","direction":"BOTH"}],"areas":[{"url":"http://www.geonames.org/8630135","name":"Rocky Mountain District","id":"drivebc.ca/3"}]}}'
      </code>
      <pre>
curl -X POST 'http://0.0.0.0:3000/local_events' -H "email: youz3@ualberta.ca" -H "password: 123" -H "Content-Type: application/json" -d '{"event": {"jurisdiction_url":"https://api.open511.gov.bc.ca/jurisdiction","url":"https://api.open511.gov.bc.ca/events/drivebc.ca/DBC-28953","id":"drivebc.ca/DBC-28953","headline":"CONSTRUCTION","status":"ACTIVE","created":"2021-05-07T17:31:08-07:00","updated":"2022-12-01T20:14:39-08:00","description":"Highway 1, in both directions. Construction work between Columbia West FSR and Wiseman Rd for 8.1 km (18 to 10 km east of East Boundary of Glacier National Park). Until Thu Nov 23, 2023. Watch for traffic control. Expect minor delays. Construction traffic zone. Obey all traffic signs. Last updated Thu Dec 1 at 8:14 PM MST. (DBC-28953)","+ivr_message":"Highway 1, in both directions. Construction work between Columbia West FSR and Wiseman Rd for 8.1 km (18 to 10 km east of East Boundary of Glacier National Park). Until Thursday, November 23. Watch for traffic control. Expect minor delays. Construction traffic zone. Obey all traffic signs. Last updated Thursday, December 1 at 8:14 PM.","+linear_reference_km":941.22,"schedule":{"intervals":["2021-05-08T00:31/2023-11-24T07:59"]},"event_type":"CONSTRUCTION","event_subtypes":["ROAD_MAINTENANCE"],"severity":"MINOR","geography":{"type":"LineString","coordinates":[[-117.401688,51.495589],[-117.400044,51.494627],[-117.398994,51.494012],[-117.398965,51.493996],[-117.397434,51.493152],[-117.396474,51.492685],[-117.395246,51.492147],[-117.394782,51.49196],[-117.39394,51.491621],[-117.389217,51.489718],[-117.387099,51.488864],[-117.384263,51.487721],[-117.367755,51.481064],[-117.364974,51.479942],[-117.363456,51.479331],[-117.363271,51.479257],[-117.362033,51.478759],[-117.361787,51.478676],[-117.361343,51.478526],[-117.360625,51.478385],[-117.360008,51.47832],[-117.359402,51.478314],[-117.358994,51.478351],[-117.358862,51.478363],[-117.35825,51.478469],[-117.357721,51.478627],[-117.357277,51.478814],[-117.357039,51.478915],[-117.356972,51.478943],[-117.356945,51.478954],[-117.356877,51.478983],[-117.356378,51.479195],[-117.355538,51.479551],[-117.355027,51.479737],[-117.354603,51.479892],[-117.35359,51.480185],[-117.351608,51.480673],[-117.350158,51.481031],[-117.35006,51.481055],[-117.350044,51.481059],[-117.346246,51.481983],[-117.339476,51.483631],[-117.338988,51.48375],[-117.335835,51.484517],[-117.335504,51.484598],[-117.335082,51.484698],[-117.334455,51.484847],[-117.331003,51.48572],[-117.329858,51.48601],[-117.329102,51.486201],[-117.328802,51.486277],[-117.328424,51.48637],[-117.323425,51.487591],[-117.319124,51.488642],[-117.317358,51.489074],[-117.316437,51.4893],[-117.310362,51.490789],[-117.309007,51.49112],[-117.308706,51.491194],[-117.305068,51.492085],[-117.303864,51.49238],[-117.303248,51.492532],[-117.299196,51.493526]]},"roads":[{"name":"Highway 1","from":"Columbia West FSR","to":"Wiseman Rd","direction":"BOTH"}],"areas":[{"url":"http://www.geonames.org/8630135","name":"Rocky Mountain District","id":"drivebc.ca/3"}]}}'
      </pre>
    </ul>

    <li><strong>As a user, I want to monitor API usage data based on the API calls from other applications.</strong></li>
    <p>In table 3, you can see the usage data. It refreshes every 5 seconds.</p>
  </ol>

  <h5>Known issues</h5>
  <p>There are a number of known issues when I implemented the site.</p>
  <ul>
    <li>In the first table the <strong>Next</strong> button never works and the pagination will continue to show more pages than the last page until the last page is actually visited.</li>
    <p>This is because the events API does not return total number of events. The API also seems to be buggy as the <strong>next_url</strong> part of the <strong>pagination</strong> section is never found. So there is no way to know if the next page exists until after we read all the data. Not to mention that the <a href="http://open511.org/documentation.html" target="_blank">Official Open511 Documentation</a> is also broken at the time I worked on the assessment. So I have no idea how to use the API other than learning from the examples in the main pages.</p>
    <li>Headline and Event Type seem to be identical</li>
    <p>This is not a bug from my end, the data in the API have the identical values for both fields. Not sure if they are intented to be the same.</p>
  </ul>

</div>

<div class="card p-4 shadow-sm mb-4">
  <div class="search-options mb-3">
    <h5>Table 1: Main events table</h5>
    <p>This table directly queries the remote API. It allows the user to browser all events current available in the remote database. You can use the dropboxes below to select different options to filter the results. Results are filtered automatically when a new options is selected. You can save events by clicking on the <i>Save</i> button on the right end of the row. Saved events will appear in the second table. You must log in first in order to use the save function. Click on the left end button to see more details of the target event.</p>
    <br/>
    <form>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Area</label>
          <select id="areaFilter" class="form-select" disabled>
            <option value="" selected class="placeholder">Uninitialized</option>
          </select>
        </div>
        <div class="col">
          <label class="form-label">Severity</label>
          <select id="severityFilter" class="form-select">
            <option value="" selected>Unselected</option>
            <option value="MINOR">Minor</option>
            <option value="MODERATE">Moderate</option>
            <option value="MAJOR">Major</option>
            <option value="UNKNOWN">Unknown</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Event Type</label>
          <select id="eventTypeFilter" class="form-select">
            <option value="" selected>Unselected</option>
            <option value="CONSTRUCTION">Construction</option>
            <option value="SPECIAL_EVENT">Special event</option>
            <option value="INCIDENT">Incident</option>
            <option value="WEATHER_CONDITION">Weather condition</option>
            <option value="ROAD_CONDITION">Road condition</option>
          </select>
        </div>
        <div class="col">
          <label class="form-label">Start Date</label>
          <%= date_field_tag "Start Date", nil, id: "startDateFilter", class: "form-control" %>
        </div>
      </div>
    </form>
  </div>

  <table id="eventsTable" class="table table-striped table-hover table-bordered w-100">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Headline</th>
        <th>Event Type</th>
        <th>Areas</th>
        <th>Severity</th>
        <th>Start Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>


<div class="card p-4 shadow-sm mb-4">
  <h5>Table 2: Saved/bookmarked events table</h5>
  <p>Saved events from table 1 will be displayed here. You can remove saved events using deleted button. Saved events are copied to local database and they will not update, even if they are removed from the remote database. </p>
  <br>

  <% if current_user.present? %>
  <table id="bookmarkedEventsTable" class="table table-striped table-hover table-bordered w-100">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Headline</th>
        <th>Event Type</th>
        <th>Areas</th>
        <th>Severity</th>
        <th>Start Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <% else %>
  <p class="text-info">You are not signed in. Please sign in to see this table. If you already signed in on another tab, please refresh this page.</p>
  <% end %>
</div>

<div class="card p-4 shadow-sm mb-4">
  <h5>Table 3: API usage table</h5>
  <p>This table shows the usage information on the two APIs in the question. Only successful API calls are shown here. The numbers are updated automatically every 5 seconds. Please refer to the Read me part of this page for how to make API requests.</p>
  <br/>

  <% if current_user.present? %>
  <table id="apiUsageTable" class="table table-bordered w-100">
    <thead>
      <tr>
        <th class="text-center">Successful Search Event API Calls</th>
        <th class="text-center">Successful Create Event API Calls</th>
        <th class="text-center">Time Since Last Sync</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="searchCalls" class="text-center">Loading...</td>
        <td id="createCalls" class="text-center">Loading...</td>
        <td id="usageLastUpdated" class="text-center">Loading...</td>
      </tr>
    </tbody>
  </table>
  <% else %>
  <p class="text-info">You are not signed in. Please sign in to see this table. If you already signed in on another tab, please refresh this page.</p>
  <% end %>
</div>
